# ðŸª¶ feathertail: Column Access Example

This notebook demonstrates the new `.col()` functionality for extracting and iterating over individual columns.

In [1]:

import feathertail as ft

records = [
    {"name": "Alice", "age": 30, "score": 95.5},
    {"name": "Bob", "age": None, "score": 85.0},
    {"name": "Charlie", "age": 25, "score": None},
]
frame = ft.TinyFrame.from_dicts(records)
print(frame)
print(frame.to_dicts())

TinyFrame(rows=3, columns=3, cols={ 'age': 'OptInt', 'name': 'Str', 'score': 'OptFloat' })
[{'age': 30, 'name': 'Alice', 'score': 95.5}, {'age': None, 'name': 'Bob', 'score': 85.0}, {'age': 25, 'name': 'Charlie', 'score': None}]

## Get a column

In [2]:

col = frame.col("age")
print(col)

TinyCol(name='age', type='OptInt')

## Iterate over column values

In [3]:

for val in col:
    print(val)

30
None
25

## Convert column to list

In [4]:

age_list = list(col)
print(age_list)

[30, None, 25]

## Access another column

In [5]:

score_col = frame.col("score")
print(score_col)
for val in score_col:
    print(val)

TinyCol(name='score', type='OptFloat')
95.5
85.0
None