# Feathertail Basics
This notebook demonstrates the main features of `feathertail` for working with tabular data.

In [1]:
import feathertail as ft

In [2]:
records = [
    {"name": "Alice", "age": 30, "score": 88.5, "active": True},
    {"name": "Bob", "age": 25, "score": None, "active": False},
    {"name": "Charlie", "age": None, "score": 72.0, "active": True},
    {"name": "Diana", "age": 28, "score": 91.0, "active": None},
]
frame = ft.TinyFrame.from_dicts(records)
print(frame)
frame.to_dicts()

TinyFrame(rows=4, columns=4, cols={ 'active': 'OptBool', 'score': 'OptFloat', 'name': 'Str', 'age': 'OptInt' })

[{'active': True, 'score': 88.5, 'name': 'Alice', 'age': 30},
 {'active': False, 'score': None, 'name': 'Bob', 'age': 25},
 {'active': True, 'score': 72.0, 'name': 'Charlie', 'age': None},
 {'active': None, 'score': 91.0, 'name': 'Diana', 'age': 28}]

In [3]:
print("Shape:", frame.shape)
print("Length:", frame.len())
print("Is empty?", frame.is_empty())

Shape: (4, 4)
Length: 4
Is empty? False

In [4]:
# Fill missing values
frame.fillna(value={"age": 0, "score": 0.0, "active": False})
frame.to_dicts()

[{'active': True, 'score': 88.5, 'name': 'Alice', 'age': 30},
 {'active': False, 'score': 0.0, 'name': 'Bob', 'age': 25},
 {'active': True, 'score': 72.0, 'name': 'Charlie', 'age': 0},
 {'active': False, 'score': 91.0, 'name': 'Diana', 'age': 28}]

In [5]:
# Cast age to float
frame.cast_column("age", float)
print(frame)
frame.to_dicts()

TinyFrame(rows=4, columns=4, cols={ 'active': 'OptBool', 'score': 'OptFloat', 'name': 'Str', 'age': 'OptFloat' })

[{'active': True, 'score': 88.5, 'name': 'Alice', 'age': 30.0},
 {'active': False, 'score': 0.0, 'name': 'Bob', 'age': 25.0},
 {'active': True, 'score': 72.0, 'name': 'Charlie', 'age': 0.0},
 {'active': False, 'score': 91.0, 'name': 'Diana', 'age': 28.0}]

In [6]:
# Edit score by adding 10
def add_ten(val):
    if val is None:
        return val
    return val + 10

frame.edit_column("score", add_ten)
frame.to_dicts()

[{'active': True, 'score': 98.5, 'name': 'Alice', 'age': 30.0},
 {'active': False, 'score': 10.0, 'name': 'Bob', 'age': 25.0},
 {'active': True, 'score': 82.0, 'name': 'Charlie', 'age': 0.0},
 {'active': False, 'score': 101.0, 'name': 'Diana', 'age': 28.0}]

In [7]:
frame.rename_column("name", "full_name")
frame.drop_columns(["active"])
print(frame)
frame.to_dicts()

TinyFrame(rows=4, columns=3, cols={ 'score': 'OptFloat', 'full_name': 'Str', 'age': 'OptFloat' })

[{'score': 98.5, 'full_name': 'Alice', 'age': 30.0},
 {'score': 10.0, 'full_name': 'Bob', 'age': 25.0},
 {'score': 82.0, 'full_name': 'Charlie', 'age': 0.0},
 {'score': 101.0, 'full_name': 'Diana', 'age': 28.0}]